.myBG{
  height: 100vh;
  background: url('../assets/images/firework.png');
 }
 .htmlAll{
  background-color: #f6ddb9;
 }
 
 .intro{
  height: 30%;
  background: tomato;
  display: flex;
  justify-content:  center;
  align-items: center;
 
 }
 
 .title{
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
  color: white;
 }
 
 .title{
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 3px;
  color: white;
 }
 
 .trending{
  height: auto;
  background: url('../assets/images/teater.webp');
 }
 .movieImage{
  height: auto;
  background: transparent;
 }
 .movieWrapper{
  }
 